nombre,localidad,provincia,direccion,lat,lng
ACOPIO LARTIRIGOYEN — TRES ARROYOS,Tres Arroyos,Buenos Aires,Ruta 3 km 487,-38.3795,-60.2756
PUERTO QUEQUÉN,Quequén,Buenos Aires,Costanera 100,-38.5694,-58.7019
SILO BAHÍA BLANCA — INGENIERO WHITE,Bahía Blanca,Buenos Aires,Puerto sector 4,-38.7800,-62.2667
PLANTA ACINDAR — VILLA CONSTITUCIÓN,Villa Constitución,Santa Fe,,-33.2300,-60.3300
DEPÓSITO COFCO — TRES ARROYOS,Tres Arroyos,Buenos Aires,,,
